<div class="flex h-screen">
  <div class="m-auto flex flex-col">
    <h3 class="font-lato">Aposor</h3>
    <button class="bg-main">
      <%= link_to 'LOG IN', new_user_session_path %>
    </button>
    <button class="">
      <%= link_to 'SIGN UP', new_user_registration_path %>
    </button>
  </div>
</div>