<div>
  <button class="bg-main">
    <%= link_to 'ADD CATEGORY', new_category_path %>
  </button>

  <div>
    <% @categories.each do |category| %>
      <%= render "categories/category_display", category: category %>
    <% end %>
  </div>
  
</div>
