<div class="bg-main flex justify-center p-4 mb-5 text-white">
  <h2> CATEGORIES </h2>
  <%= link_to 'Logout', destroy_user_session_path, class:"absolute right-0 pr-2 text-sm" %>
</div>

<div class="flex flex-col gap-4 items-center">
  <% @categories.each do |category| %>
    <%= render "categories/category_display", category: category %>
  <% end %>
</div>


<div class="flex justify-center items-center h-20 bg-second w-[100%] fixed bottom-0">
  <%= link_to 'ADD CATEGORY', new_category_path, class: "text-white border h-12 w-64 flex justify-center p-2"%>
</div>
