<div class="flex bg-white w-[90%] justify-between h-16 items-center p-1 gap-1 text-text text-sm">
  <div>
    <%= transaction.name %>
  </div>
  <div class="font-black">
    $ <%= transaction.amount %>
  </div>
</div>